.mol-plp-block {
  .plp-block-container {
    .plp-block-show-more,
    .plp-block-show-less {
      display: block;
      color: var(--color-black-base);
      font-family: var(--font-face1-normal);
      text-transform: uppercase;
      font-size: var(--text-14);
      cursor: pointer;
      line-height: var(--line-height-x);
    }
  }
}
