.ecampaign-form-container {
  width: 100%;
  position: relative;
  padding: 0 0.75rem;

  .sms-optin-container label {
    display: inline-flex;
  }

  .sms-optin-container.checkbox {
    margin-top: 1rem;
  }

  .sms-optin-container,
  .floating-label-wrap {
    position: relative;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .email-capture-btn {
    margin-top: 1.5rem;
  }

  @media (min-width: 769px) {
    max-width: 26.5rem;

    .sms-optin-container,
    .floating-label-wrap {
      margin-bottom: 0;
      margin-top: 1.5rem;
    }

    .email-capture .email-capture-btn {
      margin-top: 2.5rem;
    }
  }

  .floating-label-wrap.required label:after {
    display: none;
  }

  .floating-label-wrap label {
    position: absolute;
    top: 10px;
    left: 16px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: normal normal normal 1rem HelveticaNowVar, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.0125rem;
    color: #575757;
    white-space: nowrap;
  }

  .floating-label-wrap .state-label,
  .floating-label-wrap .zip-label {
    left: 1.75rem;
  }

  .floating-label-wrap input,
  .floating-label-wrap form input.form-control,
  form .floating-label-wrap input.form-control,
  .floating-label-wrap input.form-control,
  .floating-label-wrap form input.form-control:focus,
  form .floating-label-wrap input.form-control:focus,
  .floating-label-wrap textarea,
  .toast-message-container,
  .campaign-capture-option {
    width: 100%;
    position: relative;
    padding: 0.875rem 1rem 0.875rem 1rem;
    transition: border-color 0.25s ease-in-out;
    font-size: 0.875rem;
    font-family: HelveticaNowVar, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.0125rem;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    color: #000;
    height: 44px;
  }

  .campaign-capture-option {
    height: auto;
  }

  .floating-label-wrap input[aria-invalid='false'],
  .floating-label-wrap form input.form-control[aria-invalid='false']:focus,
  form .floating-label-wrap input.form-control[aria-invalid='false']:focus,
  .floating-label-wrap input.form-control[aria-invalid='false'],
  .floating-label-wrap textarea[aria-invalid='false'] {
    border-color: #d8d8d8;
  }

  .floating-label-wrap input:focus,
  .floating-label-wrap form input.form-control:focus,
  form .floating-label-wrap input.form-control:focus,
  .floating-label-wrap input:not(:placeholder-shown),
  .floating-label-wrap form input.form-control:not(:placeholder-shown):focus,
  form .floating-label-wrap input.form-control:not(:placeholder-shown):focus,
  .floating-label-wrap input.form-control:focus,
  .floating-label-wrap input.form-control:not(:placeholder-shown),
  .floating-label-wrap textarea:focus,
  .floating-label-wrap textarea:not(:placeholder-shown) {
    color: #000;
    border-color: #000;
    box-shadow: none;
  }

  .floating-label-wrap input:not(:focus),
  .floating-label-wrap form input.form-control:not(:focus):focus,
  form .floating-label-wrap input.form-control:not(:focus):focus,
  .floating-label-wrap input.form-control:not(:focus),
  .floating-label-wrap textarea:not(:focus) {
    border-color: #d8d8d8;
  }

  .floating-label-wrap input.error,
  .floating-label-wrap form input.error.form-control:focus,
  form .floating-label-wrap input.error.form-control:focus,
  .floating-label-wrap input[aria-invalid='true'],
  .floating-label-wrap form input.form-control[aria-invalid='true']:focus,
  form .floating-label-wrap input.form-control[aria-invalid='true']:focus,
  .floating-label-wrap input.form-control.error,
  .floating-label-wrap input.is-invalid,
  .floating-label-wrap form input.is-invalid.form-control:focus,
  form .floating-label-wrap input.is-invalid.form-control:focus,
  .floating-label-wrap input.form-control.error,
  .floating-label-wrap input.form-control[aria-invalid='true'],
  .floating-label-wrap input.form-control.form-control.error,
  .floating-label-wrap input.form-control.is-invalid,
  .floating-label-wrap textarea.error,
  .floating-label-wrap textarea[aria-invalid='true'],
  .floating-label-wrap textarea.form-control.error,
  .floating-label-wrap textarea.is-invalid {
    border-color: #e01;
  }

  .floating-label-wrap input:disabled,
  .floating-label-wrap form input.form-control:disabled:focus,
  form .floating-label-wrap input.form-control:disabled:focus,
  .floating-label-wrap input.disabled,
  .floating-label-wrap form input.disabled.form-control:focus,
  form .floating-label-wrap input.disabled.form-control:focus,
  .floating-label-wrap input.form-control:disabled,
  .floating-label-wrap input.form-control.disabled,
  .floating-label-wrap textarea:disabled,
  .floating-label-wrap textarea.disabled {
    border-color: #d8d8d8;
    background-color: #f7f7f7;
    pointer-events: none;
  }

  .floating-label-wrap input ~ .invalid-feedback,
  .floating-label-wrap form input.form-control ~ .invalid-feedback,
  form .floating-label-wrap input.form-control:focus ~ .invalid-feedback,
  .floating-label-wrap input.form-control ~ .invalid-feedback,
  .floating-label-wrap form input.form-control ~ .invalid-feedback,
  .floating-label-wrap textarea ~ .invalid-feedback {
    font: normal normal normal 0.75rem HelveticaNowVar, Helvetica, Arial, sans-serif;
    line-height: 1.35;
    letter-spacing: 0.0125rem;
    color: #e01;
    padding-top: 0.5rem;
  }

  .floating-label-wrap input:focus ~ label,
  .floating-label-wrap form input.form-control:focus ~ label,
  .floating-label-wrap input:not(:placeholder-shown) ~ label,
  .floating-label-wrap form input.form-control:not(:placeholder-shown) ~ label,
  .floating-label-wrap input.form-control:focus ~ label,
  .floating-label-wrap form input.form-control:focus ~ label,
  .floating-label-wrap input.form-control:not(:placeholder-shown) ~ label,
  .floating-label-wrap form input.form-control:not(:placeholder-shown) ~ label,
  .floating-label-wrap textarea:focus ~ label,
  .floating-label-wrap textarea:not(:placeholder-shown) ~ label {
    z-index: 1;
    padding: 0 0.25rem;
    transform: translate(0, -18px) scale(1);
    font-size: 0.75rem;
    line-height: 1.4;
    background-color: #fff;
    color: #575757;
    left: 12px;
  }

  .floating-label-wrap input:focus ~ label.state-label,
  .floating-label-wrap form input.form-control:focus ~ label.state-label,
  .floating-label-wrap input:focus ~ label.zip-label,
  .floating-label-wrap form input.form-control:focus ~ label.zip-label,
  .floating-label-wrap input:not(:placeholder-shown) ~ label.state-label,
  .floating-label-wrap form input.form-control:not(:placeholder-shown) ~ label.state-label,
  .floating-label-wrap input:not(:placeholder-shown) ~ label.zip-label,
  .floating-label-wrap form input.form-control:not(:placeholder-shown) ~ label.zip-label,
  .floating-label-wrap input.form-control:focus ~ label.state-label,
  .floating-label-wrap form input.form-control:focus ~ label.state-label,
  .floating-label-wrap input.form-control:focus ~ label.zip-label,
  .floating-label-wrap form input.form-control:focus ~ label.zip-label,
  .floating-label-wrap input.form-control:not(:placeholder-shown) ~ label.state-label,
  .floating-label-wrap form input.form-control:not(:placeholder-shown) ~ label.state-label,
  .floating-label-wrap input.form-control:not(:placeholder-shown) ~ label.zip-label,
  .floating-label-wrap form input.form-control:not(:placeholder-shown) ~ label.zip-label,
  .floating-label-wrap textarea:focus ~ label.state-label,
  .floating-label-wrap textarea:focus ~ label.zip-label,
  .floating-label-wrap textarea:not(:placeholder-shown) ~ label.state-label,
  .floating-label-wrap textarea:not(:placeholder-shown) ~ label.zip-label {
    left: 1.75rem;
  }

  .floating-label-wrap input:-ms-input-placeholder,
  .floating-label-wrap form input.form-control:focus:-ms-input-placeholder,
  form .floating-label-wrap input.form-control:focus:-ms-input-placeholder,
  .floating-label-wrap input.form-control:-ms-input-placeholder,
  .floating-label-wrap textarea:-ms-input-placeholder {
    color: transparent;
  }

  .floating-label-wrap input::placeholder,
  .floating-label-wrap form input.form-control:focus::placeholder,
  form .floating-label-wrap input.form-control:focus::placeholder,
  .floating-label-wrap input.form-control::placeholder,
  .floating-label-wrap textarea::placeholder {
    color: transparent;
  }

  .floating-label-wrap input:not(textarea),
  .floating-label-wrap form input.form-control:not(textarea):focus,
  form .floating-label-wrap input.form-control:not(textarea):focus,
  .floating-label-wrap input.form-control:not(textarea),
  .floating-label-wrap textarea:not(textarea) {
    max-height: 48px;
  }

  .floating-label-wrap select ~ .invalid-feedback {
    font: normal normal normal 0.75rem HelveticaNowVar, Helvetica, Arial, sans-serif;
    line-height: 1.35;
    letter-spacing: 0.0125rem;
    color: #e01;
    padding-top: 0.5rem;
  }

  .custom-radio-label label {
    border: solid 1px #d8d8d8;
    padding: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
    cursor: pointer;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .custom-radio-label label:not(.custom-radio-svg):after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 1rem;
    border-radius: 50%;
    border: solid 1px #d8d8d8;
  }

  .custom-radio-label label.selected {
    border: solid 1px #000001;
  }

  .custom-radio-label label.selected:after {
    border: 0;
    background-image: url('data:image/svg+xml; base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4NCiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8Zz4NCiAgICAgICAgICAgIDxnPg0KICAgICAgICAgICAgICAgIDxnPg0KICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIgZmlsbD0iIzAwMCIvPg0KICAgICAgICAgICAgICAgICAgICA8cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTAuNSAxNi41TDYgMTIuMTk4IDcuMzk2IDEwLjc2OCAxMC40NzMgMTMuNjk0IDE2LjU3OCA3LjUgMTggOC45MDN6Ii8+DQogICAgICAgICAgICAgICAgPC9nPg0KICAgICAgICAgICAgPC9nPg0KICAgICAgICA8L2c+DQogICAgPC9nPg0KPC9zdmc+DQo=');
    background-size: cover;
  }

  .custom-radio-label label.disabled ~ label::before,
  .custom-radio-label label:disabled ~ label::before {
    cursor: pointer;
    border-color: #d8d8d8;
    background-color: #f7f7f7;
  }

  .checkbox {
    display: block;
    position: relative;
    padding-left: 40px;
    margin: 0;
  }

  .checkbox input,
  .checkbox form input.form-control,
  form .checkbox input.form-control {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .ecampaign-form-container .sms-optin-container {
    text-align: left;
    margin-top: 0;
  }

  .checkbox label {
    cursor: pointer;
  }

  .checkbox label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
  }

  .checkbox label:after {
    content: '';
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 6px;
    height: 10px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .checkbox input:checked ~ label:after,
  .checkbox form input.form-control:checked ~ label:after {
    display: block;
  }

  .checkbox input:checked ~ label:before,
  .checkbox form input.form-control:checked ~ label:before {
    background-color: #000;
    border: 1px solid #000;
  }

  .toast-message {
    margin-left: 1rem;
  }

  .veil {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .underlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: #f5f7f8;
    }

    .spinner {
      width: 64px;
      height: 64px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .spin {
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 50%;
        animation: rotation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-width: 2px;
        border-style: solid;
        border-color: #000 transparent transparent;
      }

      .spin:nth-child(1) {
        animation-delay: -0.5s;
      }
      .spin:nth-child(2) {
        animation-delay: -0.35s;
      }
      .spin:nth-child(3) {
        animation-delay: -0.2s;
      }
      .spin:nth-child(4) {
        animation-delay: -0.05s;
      }
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .text-left {
    float: left;
  }
}

.m-auto {
  margin: auto;
}
