.mol-2up-carousel {
  @media (min-width: 544px) {
    .cards-slider {
      background-color: #f0f0f0; /* missing color from design tokens */
    }
  }
  @media (min-width: 769px) {
    .cards-slider {
      background-color: transparent;
    }
    .splide {
      &__slide {
        background-color: #f0f0f0; /* missing color from design tokens */
      }
    }
  }
}
