.brand-kate-spade {
  .promo-tile-up-1,
  .promo-tile-up-2,
  .promo-tile-up-4 {
    .at-media-asset {
      height: auto;
      max-height: unset;
      img {
        min-height: var(--min-mobile-tile-height);
        object-fit: cover;
      }
    }
  }
  @media (min-width: 769px) {
    .promo-tile-up-1 .at-media-asset img,
    .promo-tile-up-2 .at-media-asset img,
    .mol-banner.inline .solid-background {
      min-height: var(--min-desktop-tile-height);
      max-height: var(--max-promo-tile-wrapper-height);
    }
    .promo-tile-up-1,
    .promo-tile-up-2 {
      .at-media-asset.u-outline img {
        max-height: calc(var(--max-promo-tile-wrapper-height) - 2px);
      }
      .inside-frame {
        max-height: unset;
      }
    }
  }
}
